  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


  .about-container {
    width: 100%;
    background: linear-gradient(to right, #2c3e50, #20864a); /* Matching the base theme */
    padding: 60px 0;
    display: flex;
    justify-content: center;
    height: 79vh;

  }

  .about-section {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }

  .about-image {
    flex: 1;
    max-width: 450px;
  }

  .about-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .about-content {
    flex: 2;
  }

  .about-content h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;

  }

  .about-content p {
    font-size: 16px;
    color: white;
    line-height: 1.6;
  }