  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #20864a); 
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 750px;
    margin: auto;
    text-align: left;
    padding: 20px;
  }

  .dash-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  .doctor-name {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }

  .table-div {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }

  input, select, textarea {
    width: 85%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.2); 
    color: white;
    font-size: 16px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-row {
    display: flex;
    gap: 40px;
  }

  .btn-success {
    background-color: #27ae60;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    width: 90%;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .btn-success:hover {
    background-color: #219150;
    cursor: pointer;
    transform: translateY(-2px);
  }

  .btn-success:focus {
    outline: none;
  }


  .error-message {
    color: red;
    display: none;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
  }