    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

    body {       
        background: linear-gradient(to right, #2c3e50, #20864a);
    }

    .content {
        text-align: center;
    }

    .about-logo h3 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .about-logo .color {
        color: #27ae60;
    }

    .about-logo p {
        font-size: 18px;
        max-width: 900px;
        margin: 0 auto;
        line-height: 1.6;
        margin-bottom: 30px;
        color: #ffffff;
    }

    .info-blocks {
        background: rgba(255, 255, 255, 0.1);

        margin-left: 100px;
        margin-right: 90px;
        padding: 10px;
        text-align: center;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .info-blocks:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .icon-info-blocks {
        font-size: 50px;
        margin-bottom: 15px;
        color: #20864a;
        transition: color 0.3s ease;
    }

    .icon-info-blocks:hover {
        color: #2c3e50;
    }

    .info-blocks-in h3 {
        font-size: 24px;
        margin-bottom: 15px;
        color: aliceblue;
    }

    .info-blocks-in p {
        font-size: 16px;
        line-height: 1.5;
        color: aliceblue;
    }

    .service-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        color: aliceblue;

        max-width: 1100px;
        margin: 30px auto;
        padding: 0 20px;
    }

    .service-item {
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 8px;
        font-size: 18px;
        color: aliceblue;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .service-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
