body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
  }

  header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .profile-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #27ae60;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('{{ request.user.profile_avatar.url }}');
    background-size: cover;
    background-position: center;
    border: 2px solid #fff; /* Optional: Adds a border around the icon */
  }
  

  .profile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 6px;
    text-align: left;
    width: 280px;
  }

  .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .profile-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .profile-text {
    text-align: left;
  }

  .profile-text p {
    margin: 2px 0;
    color: #333;
    font-size: 16px;
  }

  .profile-text p.email {
    font-size: 14px;
    color: #666;
  }

  .profile-text p.email i {
    margin-right: 5px;
    color: #333;
  }

  .profile-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }

  .profile-menu a:hover {
    background-color: #f1f1f1;
  }

  .auth-buttons a {
    background-color: #27ae60;
    color: white;
    padding: 8px 20px;
    margin: 6px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .auth-buttons a:hover {
    background-color: #219150;
  }

  .home {
    background: url(https://iprospectcheck.com/wp-content/uploads/2020/01/healthcare-background-checks-1.jpg) no-repeat center center/cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
  }

  .home h1 {
    font-size: 48px;
    margin: 10px 0;
    color: #2c3e50;
  }

  .home p {
    font-size: 20px;
    max-width: 800px;
    color: black;
  }

  