  main {
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .card {
    min-height: 80vh;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .filter-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }

  .filter-section select,
  .filter-section input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .filter-section button {
    padding: 6px 12px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  thead tr {
    background: #f5f5f5;
  }

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  td {
    vertical-align: middle;
  }

  td.status {
    display: flex;
    padding: 10px 12px;
  }

  .status span {
    display: inline-flex;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    min-width: 100px;
    justify-content: center;
  }

  .status .accepted { background: #28a745; } 
  .status .waited { background: #ffc107; color: #212529; } 
  .status .cancelled { background: #dc3545; } 


  .view-btn {
    padding: 6px 40px;
    background: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 1001;
  }

  .modal h5 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }

  .modal ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
  }

  .modal ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
  }

  .modal button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 20%; 
  margin-top: 20px;
}

  .modal .close-btn {
    background: #dc3545;
    color: #fff;
  }

  .modal .save-btn {
    background: #007BFF;
    color: #fff;
  }